$font_size_main: 14px;
$font_family_main: Verdana, Geneva, Tahoma, sans-serif;

$background_main:#fff;
$container_width: 1170px;

$color_title: #666666;
$background_btn: #3b79b4;
$color_gold:#FFCC00;
